@model IEnumerable<ScheduleServiceModel>

@{
    ViewData["Title"] = "График";
    ViewData.AddActivePage(AdminNavPages.Schedule);
    string format = "HH:mm dd.MM.yy";
}

<h2>@ViewData["Title"]</h2>

<div class="row">

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Дата и час</th>
                <th class="col-md-3" >Пиеса</th>
                <th class="col-md-3">Училище</th>
                <th class="col-md-3">Участници</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var performance in Model)
                {
                    <tr class="table-warning">
                        <th scope="row">@performance.Time.ToString(format)г.</th>
                        <td>@performance.PlayName</td>
                        <td>@performance.SchoolName</td>
                        <td>
                            <ul>
                                @foreach (var participant in performance.Participants)
                                {
                                    <li>@participant</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <a style="width: 90px; margin-bottom: 3px;" asp-area="Admin" asp-controller="Schedule" asp-action="Edit" asp-route-id="@performance.Id" class="btn btn-warning btn-sm">Промени</a>
                            <a style="width: 90px; margin-bottom: 3px;" asp-area="Admin" asp-controller="Schedule" asp-action="Delete" asp-route-id="@performance.Id" class="btn btn-danger btn-sm">Изтрий</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" style="text-align: center;">Няма регистрирани представления.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
